.site-title {
  display: inline-block;
  font-weight: 200;
  letter-spacing: 0.3rem;
}

.post-entry {
  margin-top: 10px;
  margin-bottom: 35px;
}

@media only screen
  and (min-width: 810px) {
    main {
        margin-top: 120px;
    }
  }
