---
layout: default
---

<!-- Photo gallery -->

{% assign columns = 4 %}
{% assign post_count = site.posts | size %}
{% assign rest = post_count | modulo: columns %}
{% assign per_column = post_count | divided_by: columns %}
{% assign offset = 0 %}

<div class="gallery row">
  {% for column in (1..columns) %}
    {% if offset <= rest %}
      {% assign per_column = rest %}
    {% else %}
      {% assign per_column = post_count | divided_by: columns %}
    {% endif %}
    <div class="column">
    {% for post in site.posts limit:per_column offset: offset%}
      <img src="{{ post.image.url }}" style="width:100%"></img>
    {% endfor %}
    </div>
    {% if offset < rest %}
      {% assign offset = offset | plus: rest %}
    {% else %}
      {% assign offset = offset | plus: per_column %}
    {% endif %}
  {% endfor %}
</div>
