---
layout: default
---

{% assign columns = 4 %}
{% assign post_count = site.posts | size %}
{% assign rest = post_count | modulo: columns %}
{% assign per_column = post_count | divided_by: columns %}
{% assign offset = 0 %}

<div class="gallery row">
  {% for column in (1..columns) %}
    {% if offset < rest %}
      {% assign per_column = per_column | plus: 1 %}
    {% else %}
      {% assign per_column = post_count | divided_by: columns %}
    {% endif %}
    <div class="column">
    {% for post in site.posts limit:per_column offset: offset%}
      <img onclick="openModal(this);" class="gallery-entry" src="{{ post.image.url }}"></img>
    {% endfor %}
    </div>
    {% assign offset = offset | plus: per_column %}
    {% assign per_column = post_count | divided_by: columns %}
  {% endfor %}
</div>

<div id="gallery-modal" class="modal">
  <span class="close" id="close-modal">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
