<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    {% include navigation.html %}

    {{ content }}

    <footer>
      <span>
        <a target="_blank" href="https://twitter.com/crisguitar1302"><i class="fa fa-twitter"></i> @crisguitar1302</a>
        |
        <a target="_blank" href="https://github.com/crisguitar"><i class="fa fa-github"></i> crisguitar</a>
      </span>
    </footer>
    <script
      src="http://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="/js/hamburguer.js"></script>
    <script src="/js/infinite-scroll.js"></script>
  </body>
</html>
